
<div class="bg-primary-300 py-24 d-flex justify-center align-center ">
    <p class="h4 h5-sm me-24 me-sm-16">加入會員取得 9 折優惠</p><button type="button" class="btn btn-dark d-md-block">馬上註冊</button>
</div>


<div class="f-bg">
<footer class="pt-64 pt-md-32 .bg-neutral-100 footer ">
    <nav class="container d-flex align-center justify-between py-sm-32 d-sm-block section-lined">
        <a href="index.html"><img src="/assets/images/logo.svg" alt="LOGO" class="img mb-sm-8"></a>    
        <ul class="d-flex flex-md-row align-center justify-between px-sm-12 ">
  <li class="mb-sm-4 ">
    <a href="products.html" class="h6 py-12 me-md-40 me-sm-40">商品列表</a>
  </li>
  <li class="mb-sm-4">
    <a href="story.html" class="h6 py-12">品牌故事</a>
  </li>
</ul>


    </nav>
    <div class="copyright pb-64 pt-32">
        <div class="justify-center">
        <p class="mb-4">Copyright ©2025 URBNSTYLE</p>
        <p>All Rights Reserved.</p>
            </div>
    </div>